.card-empty {
	display: grid;
	grid-template:
		'title-container' max-content
		'description' auto
		'btn-container' 18%;

	border: 0.1vw solid rgba(0, 0, 0, 0.363);

	background: radial-gradient(#2c220318, #00000010);
	filter: blur(3px);
	border-radius: 1vw;

	width: 45%;
	height: 45%;

	margin: 1%;
}
