.main-board {
	display: flex;
	justify-content: space-evenly;
	align-items: center;

	background: linear-gradient(160deg, rgb(53, 48, 9) 0%, rgb(29, 26, 3) 100%);

	/* This is for aspect relation of main board, to keep proportion. */
	width: var(--width-90vw);
	height: calc(var(--width-90vw) / 2);

	border: 1px solid rgb(71, 50, 24);
	border-radius: 1vmax;

	box-shadow: 8px 8px 15px black;

	margin: 0.5vw;
}
