.center-board {
	--center-btn-text-color: rgba(255, 255, 255, 0.7);
}

.btn {
	font-size: 1.2vw;
	font-weight: 600;

	padding: 0.8vw 0.1vw 0.8vw 0.1vw;

	margin: 0.5vw 0vw 0.5vw 0vw;
}
.btn-text {
	color: rgba(244, 250, 255, 0.61);
	margin: -0.2vw;
	padding: 0px;
}

/* -------Btn Normal ------- */
.btn-normal {
	color: var(--center-btn-text-color);

	background-color: rgb(68, 47, 6);
	border: 0.2vw solid rgb(114, 84, 24);
	border-radius: 0.8vw;
}
.btn-normal:hover {
	background-color: rgb(72, 52, 8);
	border: 0.2vw solid rgb(150, 113, 38);
}
.btn-normal:active {
	background-color: rgb(68, 47, 6);
	border: 0.2vw solid rgb(112, 107, 42);
}

/* -------Btn Special ------- */
.btn-special {
	color: var(--center-btn-text-color);

	background-color: rgb(20, 60, 20);
	border: 0.2vw solid rgb(45, 107, 45);
	border-radius: 0.3vw;
}
.btn-special:hover {
	background-color: rgb(32, 83, 32);
	border: 0.2vw solid rgb(41, 117, 41);
}
.btn-special:active {
	background-color: rgb(20, 60, 20);
	border: 0.2vw solid rgb(66, 122, 66);
}

/* -------Btn Elite ------- */
.btn-elite {
	color: var(--center-btn-text-color);

	background-color: rgb(10, 60, 80);
	border: 0.2vw solid rgb(36, 99, 124);
	border-radius: 0.1vw 1vw 0.1vw 1vw;
}
.btn-elite:hover {
	background-color: rgb(16, 66, 86);
	border: 0.2vw solid rgb(44, 121, 151);
}
.btn-elite:active {
	background-color: rgb(10, 60, 80);
	border: 0.2vw solid rgb(59, 108, 128);
}
