.card {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: 10;

	text-align: center;
	/* align */

	background: linear-gradient(
		184deg,
		rgba(68, 47, 6, 1) 0%,
		rgba(27, 24, 3, 1) 100%
	);

	border: 1px solid rgb(105, 93, 70);
	border-radius: 5px;

	width: 46%;
	height: 46%;

	margin: 5px;
}

.title {
	grid-row: 1 / 2;

	color: rgb(218, 218, 218);

	font-size: 1.2rem;

	background-color: rgba(100, 81, 65, 0.226);

	border-bottom: 2px solid rgba(199, 121, 5, 0.322);
	border-radius: 0px 0px 10px 10px;

	height: fit-content;

	padding: 12px 0px 12px 0px;
	margin: 0px 0px 0px 0px;
}

.description {
	grid-row: auto;

	overflow: hidden;

	color: darkgray;

	font-size: 0.8rem;

	text-align: start;

	margin: 5px 10px 5px 10px;
}
.description:hover {
	overflow: scroll;
	scrollbar-width: none;
}

.button-container {
	grid-row: 9 / 10;

	/* font-size: 1.2rem; */

	background-color: rgba(89, 90, 48, 0.144);

	border-top: 2px solid rgba(199, 121, 5, 0.322);
	border-radius: 10px 10px 0px 0px;

	/* height: fit-content; */

	padding: 5px 0px 5px 0px;
	margin: 0px 0px 0px 0px;
}
.btn-delete {
	background: rgba(80, 56, 25, 0.877);

	color: darkgray;

	font-size: 0.75rem;

	border: 2px solid rgb(56, 50, 14);
	border-radius: 2px 15px 2px 15px;

	padding: 2% 5% 2% 5%;
	margin: 2% 0% 0% 0%;

	transition: 0.2s ease;
}

.btn-delete:hover {
	background: rgba(80, 56, 25, 0.877);

	color: rgb(189, 189, 189);

	border: 2px solid rgb(77, 77, 17);
}

.btn-delete:active {
	background: rgba(80, 56, 25, 0.877);

	color: rgb(138, 138, 138);

	font-size: 0.75rem;

	border: 2px solid rgb(56, 50, 14);

	padding: 1.5% 3.5% 1.5% 3.5%;
	margin: 2.5% 0% 0.5% 0%;
}
