.card {
	display: grid;
	grid-template:
		'title-container' 15%
		'description' auto
		'btn-container' 15%;

	text-align: center;

	background: linear-gradient(
		184deg,
		rgba(68, 47, 6, 1) 0%,
		rgba(27, 24, 3, 1) 100%
	);

	border: 0.1vw solid rgb(105, 93, 70);
	border-radius: 0.5vw;

	width: 45%;
	height: 45%;

	box-shadow: 0.3vw 0.3vw 0.4vw rgba(0, 0, 0, 0.774);

	margin: 1%;

	transition: 1s ease;
}

.card:hover {
	border: 0.1vw solid rgb(231, 184, 97);
}
.card:hover .title {
	font-size: 1.6vw;
	color: white;
}
.card:hover .description {
	color: rgb(233, 233, 233);
}

.title-container {
	grid-area: title-container;

	display: flex;
	align-items: center;
	justify-content: center;

	background-color: rgba(100, 81, 65, 0.226);

	border-bottom: 0.2vw solid rgba(199, 121, 5, 0.322);
	border-radius: 0vw 0vw 1vw 1vw;

	box-shadow: 0vw 0.4vw 0.3vw rgba(0, 0, 0, 0.384);

	margin: 0px;
}
.title {
	color: blanchedalmond;

	font-size: 1.5vw;

	text-shadow: 0.3vw 0.3vw 0.3vw rgba(0, 0, 0, 0.521);

	transition: 3s ease;
}

.description {
	grid-area: description;

	overflow: hidden;

	color: darkgray;

	font-size: 1.1vw;

	text-shadow: 0.5vw 0.5vw 0.3vw rgba(0, 0, 0, 0.521);

	text-align: start;

	margin: 0.7vw 0.5vw 0.1vw 0.7vw;

	transition: 2s ease;
}
.description:hover {
	overflow: scroll;
	scrollbar-width: none;
}

.btn-container {
	grid-area: btn-container;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	background-color: rgba(89, 90, 48, 0.144);

	border-top: 0.2vw solid rgba(199, 121, 5, 0.322);
	border-radius: 1vw 1vw 0vw 0vw;

	box-shadow: 0vw -0.4vw 0.3vw rgba(0, 0, 0, 0.384);

	padding: 0px;
	margin: 0px;
}

.btn-delete {
	display: flex;
	justify-content: center;
	align-content: center;

	background: rgba(80, 56, 25, 0.877);

	color: whitesmoke;

	font-size: 1vw;

	border: 0.2vw solid rgb(56, 50, 14);
	border-radius: 0.1vw 1.3vw 0.1vw 1.3vw;

	width: 6em;
	height: 2em;

	box-shadow: 0.2vw 0.2vw 0.3vw rgba(0, 0, 0, 0.774);

	padding: 0.2vw;
	margin: 0px;
}

.btn-delete:hover {
	background: rgba(80, 56, 25, 0.877);

	color: whitesmoke;

	border: 0.2vw solid rgb(77, 77, 17);
	transition: 0.5s ease;
}

.btn-delete:active {
	background: rgba(80, 56, 25, 0.877);

	color: rgb(138, 138, 138);

	box-shadow: 0.2vw 0.2vw 0.3vw rgba(0, 0, 0, 0.349);

	border: 0.2vw solid rgb(56, 50, 14);
	transition: 0.5s ease;
}
