* {
	/* Avoid all selectable texts. */
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.card-elite {
	/* Modify only R,G or B, to Theme Style */
	--r: 10;
	--g: 60;
	--b: 80;
	--alpha: 1;

	--main-color: rgba(var(--r), var(--g), var(--b), var(--alpha));

	--second-color: rgba(
		calc(var(--r) + 5),
		calc(var(--g) + 5),
		calc(var(--b) + 5),
		0.5
	);
	--main-border: rgba(
		calc(var(--r) + 40),
		calc(var(--g) + 40),
		calc(var(--b) + 40),
		calc(var(--alpha))
	);
	--main-border-hover: rgba(
		calc(var(--r) + 100),
		calc(var(--g) + 100),
		calc(var(--b) + 120),
		calc(var(--alpha))
	);

	--innter-borders: rgba(
		calc(var(--r) + 40),
		calc(var(--g) + 40),
		calc(var(--b) + 40),
		calc(var(--alpha))
	);

	--main-color-hover: rgba(
		calc(var(--r) + 5),
		calc(var(--g) + 5),
		calc(var(--b) + 5),
		var(--alpha)
	);

	--btn-border: rgba(
		calc(var(--r) + 20),
		calc(var(--g) + 20),
		calc(var(--b) + 20),
		var(--alpha)
	);
	--btn-border-hover: rgba(
		calc(var(--r) + 50),
		calc(var(--g) + 50),
		calc(var(--b) + 50),
		var(--alpha)
	);
}

.card-elite {
	display: grid;
	grid-template:
		'title-container' max-content
		'description' auto
		'btn-container' 18%;

	text-align: center;

	background: linear-gradient(
		184deg,
		var(--main-color) 0%,
		rgba(27, 24, 3, 1) 100%
	);

	border: 0.1vw solid var(--main-border);
	border-radius: 0.1vw 1.5vw 0.1vw 1.5vw;

	width: 45%;
	height: 45%;

	box-shadow: 0.3vw 0.3vw 0.4vw rgba(0, 0, 0, 0.774);

	margin: 1%;

	transition: 2s ease;
}

.card-elite:hover {
	border: 0.1vw solid var(--main-border-hover);

	background: linear-gradient(
		184deg,
		var(--main-color-hover) 0%,
		rgba(27, 24, 3, 1) 100%
	);
}

.card-elite:hover .title-elite {
	color: white;
}
.card-elite:hover .description-elite {
	color: rgb(233, 233, 233);
}

.title-container-elite {
	grid-area: title-container;

	display: flex;
	align-items: center;
	justify-content: center;

	background-color: var(--second-color);

	border-bottom: 0.2vw solid var(--innter-borders);
	border-radius: 0.1vw 1.5vw 1vw 1vw;

	box-shadow: 0vw 0.4vw 0.3vw rgba(0, 0, 0, 0.384);

	padding: 0.3vw 0vw 0.2vw 0vw;
	margin: 0px;
}
.title-elite {
	color: rgb(185, 185, 185);

	font-size: 1.3vw;

	text-shadow: 0.2vw 0.3vw 0.5vw rgba(0, 0, 0, 0.795);

	margin: 0.3vw;

	transition: 1s ease;
}

.description-container-elite {
	grid-area: description;

	overflow: hidden;

	text-shadow: 0.3vw 0.3vw 0.6vw rgb(0, 0, 0);

	margin: 0.3vw 0vw 0vw 0vw;

	transition: 0.5s ease;
}
.description-container-elite:hover {
	overflow: scroll;
	scrollbar-width: none;

	cursor: default;
}
.description-text-elite {
	overflow: hidden;

	color: rgb(185, 185, 185);

	font-size: 1.03vw;
	text-align: start;
	word-spacing: 0.13vw;

	line-height: 1.12vw;

	margin: 0.5vw 1vw 0vw 1vw;
}
.card-divisor-elite {
	background: linear-gradient(
		to right,
		rgba(0, 0, 0, 0),
		var(--innter-borders),
		rgba(0, 0, 0, 0)
	);

	margin: auto;
	margin-top: 0.7vw;
	margin-bottom: 0.4vw;

	height: 1%;
	width: 100%;
}
p {
	padding: 0.01vw;
}

.btn-container-elite {
	grid-area: btn-container;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	background-color: rgba(0, 0, 0, 0.062);

	border-top: 0.2vw solid var(--innter-borders);
	border-radius: 1vw 1vw 0vw 0vw;

	box-shadow: 0vw -0.4vw 0.3vw rgba(0, 0, 0, 0.384);

	padding: 0px;
	margin-top: 0.3vw;
}

.btn-delete-elite {
	display: flex;
	justify-content: center;
	align-content: center;

	background: var(--main-color);

	color: whitesmoke;

	font-size: 1vw;

	border: 0.2vw solid var(--btn-border);
	border-radius: 0.1vw 1.3vw 0.1vw 1.3vw;

	width: 6vw;
	height: 2vw;

	box-shadow: 0.2vw 0.2vw 0.3vw rgba(0, 0, 0, 0.774);

	padding: 0.2vw;
	margin: 0px;
}

.btn-delete-elite:hover {
	background: var(--main-color-hover);

	color: whitesmoke;

	border: 0.2vw solid var(--btn-border-hover);
	transition: 0.3s ease;
}

.btn-delete-elite:active {
	background: var(--main-color);

	color: rgb(216, 216, 216);

	box-shadow: 0.2vw 0.2vw 0.3vw rgba(0, 0, 0, 0.349);

	border: 0.2vw solid var(--btn-border);
	transition: 0.1s ease;
}
